config CAN_SCA200V100
	tristate "SmartChip SCA200V100 can devices"
	depends on ARCH_SMARTCHIP || ARM || ARM64
	---help---
	  Say Y here if you want to use CAN controller found on SmartChip sca200v100
	  SoCs.
